html {
  height: 100%;
  width: 100%;
}

body{
  margin: 2%;
  border: 1px solid black;
  background-color: lightcyan;
}
#image{
  line-height:1200px;
  width: 571px;
  height: 630px;
  border:5px solid olivedrab;
  margin:0 auto;
  background-color: powderblue;
  background-image: url('');
  background-repeat: no-repeat;
  color:white;
  text-align: center;
  background-size: 100%;
  margin-bottom:25px;
  font-size: 150%;
}

#gallery{
  display:grid;
  grid-template-columns: auto auto auto;
  column-gap:40px;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
}
.preview{
  width:25%;
  margin-left:33%;
  border: 10px solid black;
}

header{
   text-align:center;
   background-color:darkseagreen;
   color:darkslategray;
}


